﻿@{
    ViewBag.Title = "Title changed";
}
<div class="img-responsive indexView">
    <h1 class="cafeSocietyText">Cafe Society</h1>
    <h5 class="restaurantTextBody col-lg-pull-5">
        Grab a coffee and a light snack that enlightens your evening.
    </h5>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</div>
